<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="icon" type="image/png"  href="">
    <title>FRPLIS</title>

    {% block css %}{% endblock %}
</head>
<body>


<nav class="navbar navbar-expand-md navbar-light bg-success">
<div class="container">
    {% if user.is_superuser %}<a class="navbar-brand" href="{% url 'user_dashboard' %}">{% else %}<a class="navbar-brand" href="{% url 'user_info' %}">{% endif %}
        <span class="text-white">Farmers Registry and Productive Land Inventory System</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <span class="nav-link text-white">Hello, {{ request.user }}</span>
                </li>
            </ul>
        {% endif %}
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
                {% if user.is_superuser %}
                    <a href="{% url 'user_list' %}" class="nav-link text-white">Users</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if user.is_superuser %}
                    <a href="{% url 'user_dashboard' %}" class="nav-link text-white">View Farmers</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if user.is_superuser %}
                    <a href="{% url 'viewarea_dashboard' %}" class="nav-link text-white">View Areas</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if user.groups.all.0.id == 1 %}
                    <a href="{% url 'add_farmer' %}" class="nav-link text-white">Add Farmer</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if user.groups.all.0.id == 1 %}
                    <a href="{% url 'add_entry' %}" class="nav-link text-white">Add Farmer Area</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a href="#" onclick="$('#signOutBtn').click()" class="nav-link text-white">Logout</a>
                <form style='display: none;' method="POST" action="{% url 'logout_user' %}">
                    {% csrf_token %}
                    <button id="signOutBtn" type="submit">Logout</button>
                </form>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'register_user' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'login_user' %}">Login</a>
            </li>
        {% endif %}
    </ul>
    </div>
</div>
</nav>

<div class="container">
{% block content %}{% endblock %}
</div>

{% block chart_js %}{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>