{% extends "test_app/base.html" %}

{% block content %}
{% load table_tags %}

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <h1>Dashboard</h1>
        <br>
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="card border-warning mb-3">
                    <div class="card-body text-warning">
                        <h5 class="card-title text-body">No. of Records</h5>
                        {% if data_entries %}
                            <p class="card-text text-success" style="font-size: 30px;"><strong>{{ data_entries.count }} Data Record{{ data_entries.count|pluralize }}</strong></p>
                        {% else %}
                            <p class="card-text text-danger" style="font-size: 30px;"><strong>No Data Entries</strong></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="card border-warning mb-3">
                    <div class="card-body text-warning">
                        <h5 class="card-title text-body">Average Annual Income</h5>
                        <p class="card-text text-success" style="font-size: 30px;"><strong>{{ income }}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <table class="table table-hover table-stripped table-responsive-md">
            <thead class="table-success">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Address</th>
                    <th scope="col">Income Annual</th>
                    <th scope="col" align="center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data_entries %}
                    <tr>
                        <th scope="row">{{ data.id }}</th>
                        <th>{{ data.first_name }}</th>
                        <th>{{ data.last_name }}</th>
                        <th>{{ data.gender }}</th>
                        <th>{{ data.address }}</th>
                        <th>{{ data.income_annual }}</th>
                        <th><a type="button" class="btn btn-outline-primary btn-sm text-primary" href="{% url 'view_user' data.id %}">View</a>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}