{% extends "test_app/base.html" %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <h1>Data Entry</h1><span>Please fill out all fields</span>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        {% include 'test_app/messages.html' %}
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</div>
<br>
<br><br>

{% endblock %}