{% extends 'test_app/base.html' %}

{% block css %}
<style>
    #spinner-div {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 2;
    }
</style>
{% endblock %}

{% block content %}
<div id="spinner-div" class="pt-5">
    <div class="spinner-border text-primary" role="status"></div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <h1>New Farmer</h1>
        {% include 'test_app/messages.html' %}
        <hr>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            Region:
            <select class="form-select form-control" name="region" id="region" onchange="populateProvince(this)" aria-label="Select Region">
                <option value="0" selected>Select a Region</option>
                {% for region in regions %}
                    <option value="{{ region.reg_code }}">{{ region.region_name }}</option>
                {% endfor %}
            </select><br>
            Province:
            <select class="form-select form-control" name="province" id="province" onchange="populateMunCity(this)" aria-label="Select Province">
                <option value="0" selected>Select Province</option>
            </select><br>
            City/Municipality:
            <select class="form-select form-control" name="muncity" id="muncity" onchange="populateBrgy(this)" aria-label="Select City/Municipality">
                <option value="0" selected>Select City/Municipality</option>
            </select><br>
            Barangay:
            <select class="form-select form-control" name="brgy" id="brgy" aria-label="Select Barangay">
                <option value="0" selected>Select Barangay</option>
            </select>
            <br>
            <br>
            <h5>Attachments</h5>
            <hr>
            {{ form_attachments.as_p }}
            <hr>
            <div class="d-flex justify-content-between">
                <a type="button" href="{% url 'user_info' %}" class="btn btn-warning">Cancel</a>
                <button type="submit" class="btn btn-success">Proceed</button>
            </div>
        </form>
    </div>
</div>
<br><br>
{% endblock %}

{% block chart_js %}
<script>
    function populateProvince(region){
        var url = "{% url 'province_filtered' 0 %}";
        $('#province').empty();
        $('#spinner-div').show();
        $.ajax({
            type: "GET",
            url: url.replace('0', region.value),
            success: function(opts){
                $('#province').append("<option value='0'>Select Province</option>");
                for (var key in opts.provinces){
                    var temp = "<option value='" + opts.provinces[key].prov_code + "'>" + opts.provinces[key].province_name + "</option>";
                    $('#province').append(temp);
                }
            },
            complete: function () {
                $('#spinner-div').hide();
            }
        });
    }

    function populateMunCity(province){
        var url = "{% url 'muncity_filtered' 0 %}";
        $('#muncity').empty();
        $('#spinner-div').show();
        $.ajax({
            type: "GET",
            url: url.replace('0', province.value),
            success: function(opts){
                $('#muncity').append("<option value='0'>Select City/Municipality</option>");
                for (var key in opts.muncities){
                    var temp = "<option value='" + opts.muncities[key].muncity_code + "'>" + opts.muncities[key].muncity_name + "</option>";
                    $('#muncity').append(temp);
                }
            },
            complete: function () {
                $('#spinner-div').hide();
            }
        });
    }

    function populateBrgy(muncity){
        var url = "{% url 'brgy_filtered' 0 %}";
        $('#brgy').empty();
        $('#spinner-div').show();
        $.ajax({
            type: "GET",
            url: url.replace('0', muncity.value),
            success: function(opts){
                $('#brgy').append("<option value='0'>Select Barangay</option>");
                for (var key in opts.brgys){
                    var temp = "<option value='" + opts.brgys[key].brgy_psgc_code + "'>" + opts.brgys[key].brgy_name + "</option>";
                    $('#brgy').append(temp);
                }
            },
            complete: function () {
                $('#spinner-div').hide();
            }
        });
    }
</script>

{% endblock %}