{% extends 'test_app/base.html' %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <h1>Entry Details - <em>Entry ID. {{ user_area.id }}</em></h1>
        {% include 'test_app/messages.html' %}
        <br>
        <div class="card shadow border-success">
            <div class="card-header">
                Information
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <p class="card-text">Area Applied: <strong>{{ user_area.total_area }}</strong></p>
                        <p class="card-text">Profile: <strong>{{ user_area.profile_field }}</strong></p>
                        <!-- <p class="card-text">Crop Planted: <strong>{{ user_area.crop_planted }}</strong></p>
                        <p class="card-text">Remarks: <strong>{{ user_area.remarks }}</strong></p> -->
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <p class="card-text">Soil Ph: <strong>{{ user_area.soil_ph }}</strong></p>
                        <p class="card-text">Farm Location: <strong>{{ farm_location }}</strong></p>
                    </div>
                </div>
                <br>
                {% if user.is_superuser %}
                    <a href="{% url 'user_dashboard' %}" class="btn btn-warning">Back</a>
                {% else %}
                    <a href="{% url 'user_info' %}" class="btn btn-warning">Back</a>
                {% endif %}
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAreaModal" data-backdrop="static" data-keyboard="false">
                    Update Area
                </button>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Crops in Area</h4><hr>
                <ul class="list_group">
                    {% if not crop_in_area %}
                        <p class="mb-1 text-danger"><strong>No crop(s) found in area</strong></p>
                    {% else %}
                        {% for crop in crop_in_area %}
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ crop.crop_planted }}</h5>
                                        <small class="text-success"><strong>{{ crop.status }}</strong></small>
                                    </div>
                                    <p class="mb-1">{{ crop.remarks }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h4>Attachments</h4><hr>
                <label class="h6">Area Coordinates: </label>
                {% if user_area.area_coordinates %}
                    <a class="h6 btn-outline-success" href="/media/{{ user_area.area_coordinates }}" target="_blank">Click here to view or download</a><br>
                {% else %}
                    <a class="h6 btn-outline-danger" href="#">No attached file</a><br>
                {% endif %}
                {% if user.groups.all.0.id == 2 or user.is_superuser %}
                    <label class="h6">Sketch Plan: </label>
                    {% if user_area.sketch_plan %}
                        <a class="h6 btn-outline-success" href="/media/{{ user_area.sketch_plan }}" target="_blank">Click here to view or download</a><br>
                    {% else %}
                        <a class="h6 btn-outline-danger" href="#">No attached file</a><br>
                    {% endif %}

                    <label class="h6">Map: </label>
                    {% if user_area.map %}
                        <a class="h6 btn-outline-success" href="/media/{{ user_area.map }}" target="_blank">Click here to view or download</a><br>
                    {% else %}
                        <a class="h6 btn-outline-danger" href="#">No attached file</a><br>
                    {% endif %}

                    <label class="h6">Google Earth: </label>
                    {% if user_area.google_earth %}
                        <a class="h6 btn-outline-success" href="/media/{{ user_area.google_earth }}" target="_blank">Click here to view or download</a><br>
                    {% else %}
                        <a class="h6 btn-outline-danger" href="#">No attached file</a><br>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade bd-example-modal-lg" id="updateAreaModal" tabindex="-1" role="dialog" aria-labelledby="updateAreaModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLongTitle">Update Area</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}