{% extends 'test_app/base.html' %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <h1>User Areas - <em>{{ profile.first_name }}</em></h1>

        {% if user_areas %}
            <p class="card-text text-success"><em>{{ user_areas.count }} Area{{ user_areas.count|pluralize }}</em></p>
        {% else %}
            <p class="card-text text-danger"><em>No Areas</em></p>
        {% endif %}

        <a type="button" class="btn btn-warning" href="{% url 'user_dashboard' %}">Back</a>
        <br><br>
        <table class="table table-hover table-stripped table-responsive-md">
            <thead class="table-success">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Total Area</th>
                    <th scope="col">Crop Planted</th>
                    <th scope="col">Remarks</th>
                    <th scope="col" align="center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for area in user_areas %}
                    <tr>
                        <th scope="row">{{ area.id }}</th>
                        <th>{{ area.total_area }}</th>
                        <th>{{ area.crop_planted }}</th>
                        <th>{{ area.remarks }}</th>
                        <th><a type="button" class="btn btn-outline-primary btn-sm text-primary" href="{% url 'view_area_admin' area.id %}">View</a>&nbsp;<a type="button" class="btn btn-outline-danger btn-sm text-danger">Delete</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}