{% extends 'test_app/base.html' %}

{% block content %}
{% load static %}
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <h1>Farmer Details</h1><hr>
        {% include 'test_app/messages.html' %}
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="card border-warning mb-3">
                    <div class="card-body text-warning">
                        <h5 class="card-title text-body">Number of Areas</h5>
                        {% if areas %}
                            <p class="card-text text-success" style="font-size: 30px;"><strong>{{ areas.count }} Area{{ areas.count|pluralize }}</strong></p>
                        {% else %}
                            <p class="card-text text-danger" style="font-size: 30px;"><strong>No Areas</strong></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="card border-warning mb-3">
                    <div class="card-body text-warning">
                        <h5 class="card-title text-body">Productive Area</h5>
                        {% if not productive_area == 0 %}
                            <p class="card-text text-success" style="font-size: 30px;"><strong>{{ productive_area }}</strong></p>
                        {% else %}
                            <p class="card-text text-danger" style="font-size: 30px;"><strong>No Productive Area</strong></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <p><strong>Firstname:</strong> {{ farmer.first_name }}</p>
                        <p><strong>Middlename:</strong> {{ farmer.middle_name }}</p>
                        <p><strong>Lastname:</strong> {{ farmer.last_name }}</p>
                        <p><strong>Gender:</strong> {% if farmer.gender == 'M' %}Male {% else %}Female{% endif %}</p>
                        <p><strong>Civil Status:</strong> {{ farmer.civil_status }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <p><strong>Birthday:</strong> {{ farmer.birthdate }}</p>
                        <p><strong>Nationality:</strong> {{ farmer.nationality }}</p>
                        <p><strong>Contact Number:</strong> {{ farmer.contact_no }}</p>
                        <p><strong>Address:</strong> {{ address }}</p>
                        <p><strong>Spouse:</strong> {{ farmer.spouse }}</p>
                    </div>
                </div>
            </div>
        </div><br><br>
        <h5>Farmer Dependents</h5><hr>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                {% if dependents %}
                    <table class="table table-hover table-stripped table-responsive-md" id="dependent_list">
                        <thead class="table-success">
                            <tr>
                                <th scope="col">Fullname</th>
                                <th scope="col">Age</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dependent in dependents %}
                                <tr>
                                    <td scope="row">{{ dependent.dependent_name }}</td>
                                    <td>{{ dependent.age }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="card-text text-danger" style="font-size: 15px;"><strong>No Dependents</strong></p>
                {% endif %}
            </div>
        </div><br><br>
        <h5>Attachments</h5><hr>
        <div class="row">
            {% if farmer_attachments != '' %}
                <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ farmer_attachments.id_picture.url }}" alt="ID Picture">
                        <div class="card-body">
                            <p class="card-text">ID Picture</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ farmer_attachments.cedula.url }}" alt="Cedula">
                        <div class="card-body">
                            <p class="card-text">Cedula</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ farmer_attachments.brgy_clearance.url }}" alt="Barangay Clearance">
                        <div class="card-body">
                            <p class="card-text">Barangay Clearance</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ farmer_attachments.tax_dec.url }}" alt="Tax Declaration">
                        <div class="card-body">
                            <p class="card-text">Tax Declaration</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ farmer_attachments.valid_id_one.url }}" alt="Valid ID">
                        <div class="card-body">
                            <p class="card-text">Valid ID</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ farmer_attachments.valid_id_two.url }}" alt="Valid ID">
                        <div class="card-body">
                            <p class="card-text">Valid ID</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-12 col-md-12">
                    <p class="card-text text-danger" style="font-size: 15px;"><strong>No attachments found</strong></p>
                </div>
            {% endif %}
        </div>
        <br><br><br>
        <a href="{% url 'user_dashboard' %}" class="btn btn-warning">Back to Dashboard</a>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#updateFarmerModal" data-backdrop="static" data-keyboard="false">
            Update Farmer
        </button>
    </div>
</div>
<br><br><br>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade bd-example-modal-lg" id="updateFarmerModal" tabindex="-1" role="dialog" aria-labelledby="updateFarmerModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLongTitle">Farmer Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ farmer_form.as_p }}
                    <hr>
                    {{ attachments_form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}


